<!-- <nav class="navbar navbar-dark bg-primary"> -->
<!-- <ngbd-tabset-basic></ngbd-tabset-basic> -->


 <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class ="navbar">
    <a routerLink="/dashboard">Categorize By Library Type</a>
    <a routerLink="/libraries">Categorize By Individual Libraries</a>
    <a routerLink="/bookmarks">Bookmarks</a>
    <a routerLink="/compare">Compare across library types</a>
  </div>
</nav>

<router-outlet></router-outlet>
<!-- <app-libraries></app-libraries> -->
