.img-container{
  /* margin: 24px; */
  box-shadow:#555 1px 2px 8px 1px;
  min-height: 800px;
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  align-content: center;
}

.tab-rating{
  margin: 10px 50px;
}

button {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
    background-color: #f1f1f1;
    color: black;
    height: 40px;
    margin: auto 20px;
}

.next {
    background-color: #4CAF50;
    color: white;
    height: 40px;
    margin: auto 20px;
}

.round {
    border-radius: 50%;
}
